{{!< default}}

{{#post}}

<header>
    <p class="meta muted">
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY [@] HH:MM z"}}</time>
        {{#match (date updated_at format="YYYY-MM-DD") ">" (date published_at format="YYYY-MM-DD") }}
            &middot; Updated <time datetime="{{date updated_at format="YYYY-MM-DD"}}">{{date updated_at format="DD MMMM YYYY"}}</time>
        {{/match}}
    </p>
    <h2>Thinking...</h2>
</header>

{{content}}

<p class="muted" style="border: 0.5px solid;"></p>
<a href="/thinking/">All Thinking →</a>

{{/post}}