<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {{#is "post, page"}}{{meta_title}}{{/is}}
        {{#is "tag"}}{{tag.name}} Archive{{/is}}
        {{#if pagination.page}}
            {{#match pagination.page ">" 1}}
                {{{block "collection"}}} (Page {{pagination.page}})
            {{else}}
                {{{block "collection"}}}
            {{/match}}
        {{/if}}
        {{{block "error"}}} - {{@site.title}}
    </title>
    {{ghost_head}}

    <link rel="stylesheet" type="text/css" href="{{asset "screen.css"}}" />

</head>
<body class="{{body_class}}">
<article>

    <section>
        {{{body}}}
    </section>

    <section>
        <footer class="muted">
            {{navigation}}
            <br>
            {{> "footer"}}
        </footer>
    </section>

</article>

{{ghost_foot}}
</body>
</html>
