<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home - {{@site.title}}</title>
    {{ghost_head}}

    <link rel="stylesheet" type="text/css" href="{{asset "screen.css"}}" />

</head>
<body {{body_class}}>
<article>
    <section>
        <header>
            <h1>{{@site.title}}</h1>
            <p class="subtitle muted">{{@site.description}}</p>
        </header>
    </section>

    <section>
        <h2><a href="/about/">About</a></h2>
        <h2><a href="/now/">Now</a></h2>
        <h2><a href="/writing/">Writing</a></h2>
        <h2><a href="/thinking/">Thinking</a></h2>
        <h2><a href="/more/">More...</a></h2>
    </section>

    <section>
        <footer class="muted">
            {{> "footer"}}
        </footer>
    </section>

</article>

{{ghost_foot}}
</body>
</html>
