{{!< default}}

<ul class="posts">
    {{#foreach posts visibility="all"}}
    <li>
        <time datetime="{{date format="YYYY-MM-DD"}}" class="muted">{{date format="DD MMMM YYYY"}}</time>
        <a href="{{url}}">{{title}}</a>
        {{#if custom_excerpt}}<p>{{custom_excerpt}}</p>{{/if}}
    </li>
    {{/foreach}}
</ul>